# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
/data/

# Virtualenv
.venv/
venv/
ENV/
env/

# Django stuff
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py


# Celery
celerybeat-schedule
celerybeat.pid

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.*

# =========================
# kotlin
# =========================
# Kotlin/Native
/.konan/    
/.kotlin-native/
# Kotlin/JS
/out/
# Kotlin Multiplatform
/.kotlin/
# Kotlin/IntelliJ
/.idea/
# Kotlin/Gradle
/.gradle/
/build/
# Kotlin/Maven
/.maven/

# Android
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/key.properties
android/app/*.keystore
android/app/*.jks
android/app/build/

# =========================
# General
# =========================
*.DS_Store
Thumbs.db
